<ion-view>
  <ion-nav-title>
    tweets
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="newTweet()">
      New
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
      <ion-item ng-repeat="tweet in tweets track by $index" href="#/app/tweets/{{tweet.id}}">
        {{tweet.content}}
        <ion-option-button class="button-positive" ng-click="copy(tweet)">
          Copy
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="delete(tweet, $index)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
